# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
.venv/
env/

# Django
db.sqlite3
*.log
staticfiles/
media/

# Environment variables
.env
.env.*

# Git
.git/
.gitignore
.gitattributes

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Docker
Dockerfile
docker-compose.yml

# Documentation
README.md